*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/webkernel/**/*.php
/bootstrap/cache/webkernel/**/*.json
/bootstrap/cache/*.php
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/third_party
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
gitignore_*
