.w-no {
    pointer-events: none;
    position: fixed;
    inset: 1rem;
    z-index: 50;
    margin-inline: auto;
    display: flex;
    gap: 0.75rem;

    &.w-align-start,
    &.w-align-left {
        align-items: flex-start;
    }

    &.w-align-center {
        align-items: center;
    }

    &.w-align-end,
    &.w-align-right {
        align-items: flex-end;
    }

    &.w-vertical-align-start {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    &.w-vertical-align-center {
        flex-direction: column;
        justify-content: center;
    }

    &.w-vertical-align-end {
        flex-direction: column;
        justify-content: flex-end;
    }
}
