<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="platform/fast-boot.php"
         colors="true"
         cacheDirectory="platform/storage/framework/phpunit"
>
    <testsuites>
        <testsuite name="codebase">
            <directory>x-webkernel/_codebase/tests</directory>
        </testsuite>
        <testsuite name="imagery">
            <directory>x-webkernel/imagery/tests</directory>
        </testsuite>
        <testsuite name="i18n">
            <directory>x-webkernel/i18n/tests</directory>
        </testsuite>
        <testsuite name="lifecycle">
            <directory>x-webkernel/_lifecycle/tests</directory>
        </testsuite>
        <testsuite name="components">
            <directory>y-platform/components/tests</directory>
        </testsuite>
        <testsuite name="notifications">
            <directory>y-platform/notifications/tests</directory>
        </testsuite>
        <testsuite name="schemas">
            <directory>y-platform/schemas/tests</directory>
        </testsuite>
        <testsuite name="panels">
            <directory>y-platform/panels/tests</directory>
        </testsuite>
        <testsuite name="system">
            <directory>x-webkernel/system/tests</directory>
        </testsuite>
        <testsuite name="database">
            <directory>x-webkernel/database/tests</directory>
        </testsuite>
        <testsuite name="models">
            <directory>x-webkernel/database-models/tests</directory>
        </testsuite>
        <testsuite name="auth">
            <directory>x-webkernel/authorization/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>x-webkernel/_codebase/src</directory>
            <directory>x-webkernel/_lifecycle/src</directory>
            <directory>x-webkernel/imagery/src</directory>
            <directory>x-webkernel/i18n/src</directory>
            <directory>y-platform/components/src</directory>
            <directory>y-platform/notifications/src</directory>
            <directory>y-platform/schemas/src</directory>
            <directory>y-platform/panels/src</directory>
            <directory>x-webkernel/system/src</directory>
            <directory>x-webkernel/devtools/src</directory>
            <directory>x-webkernel/database/src</directory>
            <directory>x-webkernel/database-models/src</directory>
            <directory>x-webkernel/authorization/src</directory>
            <directory>modules</directory>
        </include>
    </source>
</phpunit>
