<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="platform/storage/framework/phpunit"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>x-webkernel/codebase/src</directory>
            <directory>modules</directory>
        </include>
    </source>
</phpunit>
