<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="x-webkernel/codebase/tests/bootstrap.php"
         colors="true"
         cacheDirectory="platform/storage/framework/phpunit"
>
    <testsuites>
        <testsuite name="codebase">
            <directory>x-webkernel/codebase/tests</directory>
        </testsuite>
        <testsuite name="imagery">
            <directory>x-webkernel/platform/imagery/tests</directory>
        </testsuite>
        <testsuite name="i18n">
            <directory>x-webkernel/platform/i18n/tests</directory>
        </testsuite>
        <testsuite name="lifecycle">
            <directory>x-webkernel/lifecycle/tests</directory>
        </testsuite>
        <testsuite name="components">
            <directory>x-webkernel/platform/components/tests</directory>
        </testsuite>
        <testsuite name="schemas">
            <directory>x-webkernel/platform/schemas/tests</directory>
        </testsuite>
        <testsuite name="panels">
            <directory>x-webkernel/platform/panels/tests</directory>
        </testsuite>
        <testsuite name="system">
            <directory>x-webkernel/system/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>x-webkernel/codebase/src</directory>
            <directory>x-webkernel/lifecycle/Lifecycle</directory>
            <directory>x-webkernel/platform/imagery/src</directory>
            <directory>x-webkernel/platform/i18n/src</directory>
            <directory>x-webkernel/platform/components/src</directory>
            <directory>x-webkernel/platform/schemas/src</directory>
            <directory>x-webkernel/platform/panels/src</directory>
            <directory>x-webkernel/system/src</directory>
            <directory>x-webkernel/devtools/src</directory>
            <directory>modules</directory>
        </include>
    </source>
</phpunit>
